
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            
        }
        .form-container, .products-container {
            width: 100%;
            max-width: 600px;
            margin: 20px 0;
          
        }
        input[type="text"] {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
            box-sizing: border-box;
           
        }
        input[type="number"] {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
            box-sizing: border-box;
        }
        input[type="url"] {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
            box-sizing: border-box;
        }
        button {
            width: 100px;
            padding: 10px;
            background-color: green;
            color: white;
            border: none;
            cursor: pointer;
        }
       
        .qutu {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 500px;
        }
        .qutu h2 {
            color: red;
        }
        .qutu.ugurlu h1 {
            color: green;
        }
        .qutu button {
            margin-top: 15px;
            background-color: #6a0dad;
        }
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .fa-solid.fa-trash-can {
    cursor: pointer;
  }
