*{
    padding: 0%;
    margin: 0%;
}
section#BlogArticles{
    margin-top: 20px;
        padding:40px 0px;
        background-color:$bg-color-secondary ;
        .row{
            .col-12{
                @include flexBox();
                h1{
                text-align: center;
                color: $color-white;
                }
                p{
                    text-align: center;
                    color: $color-white;
                    line-height: 32px;
                   width: 500px;

                }
            }
        }
    }
#articles{
        .row{
           
            .col-3{
              img{
                width: 300px;
              }
                img{
                    &:hover{
                        transform: scale(1.03);
                        transition: 0.5s;
                    }
                }
            }
        }
    
}
section#articles-2{
    .container{
        .row{
            
            .col-4{
                

                img{
                    width: 100%;
                }
            }
        }
    }
}
