*{
    padding: 0%;
    margin: 0%;
}
section#BlogArticles{
    background-color:$bg-color-secondary ;
    margin-top: 20px;
    margin-bottom: 20px;
        padding:40px 0px;
        .row{
            .col-12{
                @include flexBox();
                h1{
                text-align: center;
                color: $color-white;
                }
                p{
                    text-align: center;
                    color: $color-white;
                    line-height: 32px;
                   width: 500px;

                }
            }
        }
    }
#articles{
    background-color:$bg-color ;
    padding-top: 
    100px;
        .row{
            .col-6{
                display: flex;
                flex-direction: column;
                gap: 30px;

                img{
                  width: 100%;
                    &:hover{
                        transform: scale(1.03);
                        transition: 0.5s;
                    }
                }
            }
        }
    
}
section#articles-2{
    background-color:$bg-color ;
    padding-top: 100px;
    .container{
        .row{
            
            .col-4{
                .card{
                    display: flex;
                flex-direction: column;
                gap: 10px;

                }
                img{
                    width: 100%;
                    &:hover{
                        transform: scale(0.95);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
