#agency {
  padding-top: 200px;
  .col2 {
    @include flexBox();
    justify-content: space-around;
    @include for-phone-only {
      justify-content: left;
      gap: 40px;
    }
    h5 {
      color: $secondary-color;
      padding-bottom: 1rem;
    }
    p {
      line-height: 32px;
    }
  }
  .col3 {
    .icon {
      @include flexBox();
      justify-content: right;
      font-size: 1.5rem;
      @include for-phone-only {
        justify-content: left;
      }

      i {
        font-size: 15px;
        color: $color-white;
        background-color: $secondary-color;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        &:hover {
          transform: scale(1.03);
          transition: 0.5s;
        }
      }
    }
  }
}
