.first {
  background-color: yellow;
}

.rred {
  background-color: red;
  color: white;
}
.ggreen {
  background-color: green;
  color: white;
}
.borderrr {
  border: 2px solid black;
  padding: 2px;
}
